#
# example of .env file for debugging
#
#API_HOST=http://localhost
#API_PATH=/otp/routers/openmove
#API_PORT=8080
#GEOCODER_BASEURL=http://localhost:8088/v1
#PARKING_BASEURL=https://parking.otp.opendatahub.testingmachine.eu
#CHARGER_BASEURL=http://localhost:8093
#CARSHARING_BASEURL=http://localhost:8091

# demo online api
API_HOST=https://otp.opendatahub.testingmachine.eu
API_PORT=443
API_PATH=/otp/routers/openmove
GEOCODER_BASEURL=https://geocoder.otp.opendatahub.testingmachine.eu/v1
PARKING_BASEURL=https://parking.otp.opendatahub.testingmachine.eu
CHARGER_BASEURL=http://localhost:8093
CARSHARING_BASEURL=http://localhost:8091