SERVER_PORT=8080

JAVA_MX=10G
BUILD_GRAPH=True
OTP_OFFICIAL=False
DOWNLOAD_DATA=False
BACKUP_GRAPH=False
GTFS_FILE=latestGTFS.zip
UPDATERS=True
GBFS_HOST=http://gbfs
GBFS_PORT=8089
GBFS_VERSION=1    
GTFS_RT_URL=https://efa.sta.bz.it/gtfs-r/
GTFS_FEED_ID=1

##journey
API_HOST=http://localhost
API_PATH=/otp/routers/openmove
API_PORT=8080
GEOCODER_BASEURL=http://localhost:9088
PARKING_BASEURL=http://localhost:9092
DRT_BASEURL=http://localhost:9095
CHARGER_BASEURL=http://localhost:9093
CARSHARING_BASEURL=http://localhost:9091
TRAFFIC_BASEURL=http://localhost:9094
AMARILLO_BASEURL=http://localhost:9095
# Note: the container expects ADMIN_TOKEN
ADMIN_TOKEN=secret
GOOGLE_ANALYTICS_ID='UA-XXXXX-Y'
MATOMO_BASE_URL=https://digital.matomo.cloud/
MATOMO_SITE_ID=20

## debug of remote instance
#API_HOST: https://otp.opendatahub.testingmachine.eu
#API_PORT: 443
#API_PATH: /otp/routers/openmove
#GEOCODER_BASEURL: https://geocoder.otp.opendatahub.testingmachine.eu/v1
#PARKING_BASEURL: https://parking.otp.opendatahub.testingmachine.eu
#DRT_BASEURL:  https://drt.otp.opendatahub.testingmachine.eu
#CHARGER_BASEURL: https://charger.otp.opendatahub.testingmachine.eu
#CARSHARING_BASEURL: https://carsharing.otp.opendatahub.testingmachine.eu
#TRAFFIC_BASEURL: https://traffic.otp.opendatahub.testingmachine.eu