/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.otp-ui-advanced-overlays-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    label {
        width: 100%;
        padding-right: 8px;
        margin-bottom: 0 !important;
        height: 26px;
    }

    &__filterButton {
        border: 0;
        padding: 0;
        margin: 0;
        outline: 0;
        display: block;
        width: 26px;
        min-width: 26px;
        height: 26px;        
        min-height: 26px;        
        border-radius: 100%;
        background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTQ2Ni44OTUgMzA1LjEyNWMtMjYuODYzLTQ2LjUyNy0xMC43MDgtMTA2LjE1MiAzNi4wNzYtMTMzLjI0NGwtNTAuMzEzLTg3LjE0NmMtMTQuMzc1IDguNDI3LTMxLjA4OCAxMy4yNTktNDguOTIzIDEzLjI1OS01My43NjggMC05Ny4zNTQtNDMuODczLTk3LjM1NC05Ny45OTVoLTEwMC42MjljMC4xMzMgMTYuNzA1LTQuMDM3IDMzLjY0MS0xMi45NzkgNDkuMTI2LTI2Ljg2MiA0Ni41MjgtODYuNTc4IDYyLjM1MS0xMzMuNDMxIDM1LjM3OWwtNTAuMzEyIDg3LjE0NmMxNC40ODUgOC4yMzYgMjcuMDI1IDIwLjI5NCAzNS45NDMgMzUuNzM5IDI2LjgxOSA0Ni40NTQgMTAuNzU2IDEwNS45Ni0zNS44NTQgMTMzLjExMmw1MC4zMTMgODcuMTQ2YzE0LjMyNS04LjM0OCAzMC45NTgtMTMuMTI3IDQ4LjctMTMuMTI3IDUzLjU5OCAwIDk3LjA3MiA0My41OTYgOTcuMzUgOTcuNDc5aDEwMC42MjdjLTAuMDQzLTE2LjUzNyA0LjEzNi0zMy4yODUgMTIuOTgzLTQ4LjYwOSAyNi44MTgtNDYuNDUzIDg2LjM4OC02Mi4yOTcgMTMzLjIwNy0zNS41MDZsNTAuMzEzLTg3LjE0NWMtMTQuMzktOC4yMzMtMjYuODQ2LTIwLjI0OS0zNS43MTctMzUuNjE0ek0yNTYgMzU5LjY2NmMtNTcuMjU0IDAtMTAzLjY2OC00Ni40MTItMTAzLjY2OC0xMDMuNjY3IDAtNTcuMjU0IDQ2LjQxMy0xMDMuNjY3IDEwMy42NjgtMTAzLjY2N3MxMDMuNjY2IDQ2LjQxMyAxMDMuNjY2IDEwMy42NjdjLTAuMDAxIDU3LjI1NS00Ni40MTIgMTAzLjY2Ny0xMDMuNjY2IDEwMy42Njd6Ij48L3BhdGg+Cjwvc3ZnPgo=");
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $brand-primary;

        &[disabled] {
            opacity: .25;
        }
    }
}