.otp-ui-badge-icon {
  $badge-size: 21px;

  position: relative;
  box-sizing: border-box !important;

  &__badge {
    position: absolute;
    width: $badge-size;
    height: $badge-size;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    top: -$badge-size / 3 ;
    right: -$badge-size / 3;
    text-align: center;
    line-height: $badge-size;
    font-size: ceil(($font-size-base * .62));

    &--default {
      background-color: $gray-light;
    }

    &--danger {
      background-color: $brand-danger;
    }

    &--success {
      background-color: $brand-success;
    }
    
    &--warning {
      background-color: $brand-warning;
    }

    &--danger,
    &--success,
    &--warning {
      width: $badge-size / 1.5;
      height: $badge-size / 1.5;
      top: -($badge-size / 1.5) / 3 ;
      right: -($badge-size / 1.5) / 3;
    }
  }
}
