.otp-ui-placeRowWrapper {
  max-width: 500px;
  display: flex;
  flex-flow: row;

  &__timeColumn {
    flex: 0 0 60px;
    padding-right: 5px;
    font-size: $font-size-small;
  }

  &__lineColumn {
    position: relative;
    flex: 0 0 50px;
    padding-right: 5px;
  }

  &__detailsColumn,
  &__mapColumn {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: $hr-border;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: -10px;
    flex: 0 0 300px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 0;

    &.has-hidden-border {
      border-top-width: 0;
      padding-top: 0;
      padding-bottom: 10px;
      margin-top: auto;
    }
  }

  &__mapColumn {
    flex: 0 0 25px;
  }

  &__placeHeader {
    display: flex;
    font-size: $font-size-base;
  }

  &__placeName {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1 1 auto;
  }

  &__interlineDot {
    color: #fff;
    flex: 0 0 15px;
    margin-left: -33px;
    margin-right: 18px;
    position: relative;
    z-index: 30;
  }
}

.otp-ui-transitLegBody {
  color: #999;
  font-size: $font-size-small;
  padding: 12px 0 18px 0;

  .btn-link {
    padding-left: 0;
    padding-right: 0;
  }

  &__details {
    margin-top: 5px;
  }
}

.otp-ui-transitLegBody__detailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.otp-ui-stopRow {
  z-index: 30;
  position: relative;
  font-size: $font-size-xsmall;

  &__marker {
    float: left;
    margin-left: -27px;
    color: #fff;
  }

  &__name {
    color: #999;
    margin-top: 3px;
  }
}

.otp-ui-transitAlerts {
  margin-top: 3px;
}

.otp-ui-transitAlert {
  background-color: #eee;
  border-radius: 4px;
  color: #000;
  display: block;
  margin-top: 5px;
  padding: 8px;
  text-decoration: none;

  &__iconContainer {
    float: left;
    font-size: 18px;
  }

  &__header {
    font-size: 14px;
    margin-left: 30px;
    font-weight: 600;
  }

  &__body {
    font-size: 12px;
    margin-left: 30px;
    white-space: pre-wrap;
  }

  &__effectiveDate {
    margin-top: 5px;
    margin-left: 30px;
    font-size: 12px;
    font-style: italic;
  }

  &__toggle {
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    text-decoration: none;
    color: #d14727;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-top: 8px;
    padding: 0;
  }
}

.otp-ui-routeBadge {
  text-align: center;
  min-width: 30px;
  min-height: 30px;
  font-size: 1.2em;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1px;
  border: 1px solid black;
  user-select: none;
  cursor: default;

  &__abbr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.otp-ui-legBody {
  color: #999;
  font-size: 13px;
  padding: 12px 0 8px;

  .otp-ui-legSummaryButton {
    display: flex;
    align-items: center;
    white-space: normal;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    
    svg {
      width: 34px;
      height: 34px;
      margin-right: 6px;
    }
  }
}

.otp-ui-accessLegSteps {
  font-size: $font-size-xsmall;

  li {
    display:flex;
    margin-bottom: $font-size-xxsmall;
    align-items: center;

    svg {
      width: 18px;
      height: 18px;
      min-width: 18px;
      margin-right: 6px;
    }
  }
}

.otp-ui-chartPreview {
  // background-color: ${props => props.active && "#eee"};
  // border-color: ${props => (props.active ? "#d1d5da" : "#fff")};
  border-color: #fff;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-style: normal;
  margin: 0 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &.is-active {
    background-color: #eee;
    border-color: #d1d5da;
  }

  &:hover {
    border-color: #d1d5da;
    background-color: #f6f8fa;
  }

  &__diagram {
    padding: 2px;
    width: 100%;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    text-decoration: none;
  }

  &__diagramTitle {
    font-size: small;
  }

  &__diagramElevationGain {
    font-size: xx-small;
    color: red;
  }

  &__diagramElevationLoss {
    font-size: xx-small;
    color: green;
  }
}

.otp-ui-bookTNCRideBtnContainer {
  height: 32px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}

.otp-ui-TNCBookRideBtn {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }

  &:active {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  &:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }

  &:active:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }
}

.otp-ui-bookLaterPointer {
  border-bottom: 16px solid transparent;
  border-right: 16px solid #fcf9d3;
  border-top: 16px solid transparent;
  height: 0;
  left: 94px;
  position: absolute;
  top: 0;
  width: 0;
}

.otp-ui-bookLaterContainer {
  bottom: 0;
  left: 110px;
  position: absolute;
  right: 0;
  top: 0;

  &__innerContainer {
    background-color: #fcf9d3;
    display: table;
    height: 100%;
    width: 100%;
  }

  &__text {
    color: #444;
    display: table-cell;
    font-style: italic;
    line-height: 0.95;
    padding: 0px 2px;
    vertical-align: middle;
  }
}

.otp-ui-legLine {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;

  &__innerLine {
    height: 100%;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__badgeContainer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-51%, -10%);
  }

  &__badgeAccess {
    color: black;
    border: 2px solid #bbb;
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 1.2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
  }
}

.otp-ui-stopIdSpan {
  font-weight: 200;
  font-size: 0.9em;
  margin-left: 10px;
}

.otp-ui-legDescForTransit {
  color: rgb(153, 153, 153);
  margin-top: 5px;
  display: flex;
  align-items: center;

  &__iconContainer {
    height: 34px;
    width: 34px;    
    margin-right: 6px;
  }

  &__shortName {    
    background-color: #095980;
    border-radius: 30px;
    border: 2px solid white;
    box-shadow: 0 0 0.5em #000;
    color: white;    
    font-weight: 500;
    height: 30px;
    width: 30px;
    font-size: $font-size-xxsmall;
    line-height: 250%;
    margin-right: 6px;
    overflow: hidden;    
    text-align: center;    
    white-space: nowrap;
  }

  &__longName {
    font-size: 13px;    
    line-height: 16px;
  }
}

.otp-ui-transitLegSummary {
  padding: 0;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  text-decoration: none;
}

.otp-ui-viewerButton {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  text-decoration: none;
  padding-left: 0px;
  color: #095980;
  cursor: pointer;
  margin-left: 5px;

  &:hover {
    text-decoration: underline;
  }

  &:before {
    content: "|";
    color: black;
    margin-right: 5px;
  }
}

.otp-ui-lineColumnContent {
  &__line {
    bottom: -11px;
    position: absolute;
    top: 11px;
    z-index: 10;
    background-color: #095980;
    left: 21px;
    right: 21px;

    &.is-walk {
      background: radial-gradient(ellipse at center, #87cefa 40%, transparent 10%);
      background-position: center -5px;
      background-repeat: repeat-y;
      background-size: 12px 12px;
    }

    &.is-bicycle {
      background: repeating-linear-gradient(
        0deg,
        red,
        red 8px,
        white 8px,
        white 12.5px
      );
    }

    &.is-car {
      background: repeating-linear-gradient(
        0deg,
        grey,
        grey 8px,
        white 8px,
        white 12.5px
      );
    }

    &.is-micromobility {
      background: repeating-linear-gradient(
        0deg,
        #f5a729,
        #f5a729 8px,
        white 8px,
        white 12.5px
      );
    }

    &.is-transit {
      background-color: gray;
    }
  }

  &__icon {
    position: absolute;
    width: 100%;
    top: 3px;
    z-index: 20;
    text-align: center;
  }

  &__iconCircle {
    left: 0;
    line-height: inherit;
    position: absolute;
    text-align: center;
    width: 100%;

    &.is-inner {
      top: 3px;
    }
  }

  &__iconLocation {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
