.otp-ui-printableItineraryLeg {
  margin-bottom: 10px;
  border-top: 1px solid $gray;
  padding-top: 18px;

  &--noBorder {
    border-top: none;
    padding-top: 0;
  }

  &__icon {
    width: 32px;
    height: 32px;
    float: left;
  }

  &__header {
    font-size: $font-size-h4;
  }


  &__body {
    margin-left: 40px;
  }

  &__detail {
    font-size: $font-size-base;
    margin-top: 5px;

    > div {
      margin-top: 5px;
    }
  }
}
