.otp-ui-toggleSwitch {
    display: block;    
    font-family: inherit;
    font-weight: 400;
    font-size: $font-size-base;
    position: relative;
    cursor: pointer;
        
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    
    input[type="checkbox"] {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        visibility: hidden;
    }
    
    span {
        position: relative;
        height: $font-size-base;
        display: block;        
        padding-right: 56px;
        height: 26px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        &:before {
            position: absolute;
            top: 0;
            right: 0;
            width: 45px;
            height: 25px;
            border: 1px solid $brand-primary;
            border-radius: 25px;
            content: '';
            transition: all .3s ease-in-out;
        }
        
        &:after {
            position: absolute;
            top: 2px;
            right: 22px;
            width: 21px;
            height: 21px;
            border-radius: 100%;
            content: '';
            background-color: $brand-primary;
            transition: all .3s ease-in-out;
        }
    }
    
    input[type="checkbox"]:checked + span {
        &:before {
            background-color: $brand-primary;
        }
        
        &:after {
            background-color: #fff;
            right: 2px;
        }
    }
}