
.otp.mobile {
  .leaflet-top.leaflet-right {
    .leaflet-control-layers-toggle {
      top: 5px;
      right: 15px;
      width: 48px;
      height: 48px;
    }

    .leaflet-control-layers-list {
      top: 70px !important;
      right: -10px !important;
    }
  }

  .leaflet-bottom.leaflet-right {
    .leaflet-control-layers-toggle {
      bottom: 0px;
      right: 15px;
      width: 48px;
      height: 48px;
    }

    .leaflet-control-layers-list {
      top: -66px !important;
      right: -10px !important;

      .leaflet-control-layers-base {
        padding: 6px;
        align-items: flex-start;
        justify-content: space-between;

        label {
          min-width: 80px;

          span::before {
            width: 80px;
            height: 62px;
          }
        }
      }
    }
  }

  .leaflet-control-layers-overlays {
    padding: 2rem;

    label {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
