/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.otp.mobile {
  .location-search {
    position: absolute;
    top: $mobile-location-search-top;
    left: 0;
    right: 0;
    bottom: 0;
    
    .dropdown-menu {
      top: $mobile-location-search-top;
      display: block;
      right: 0;
      bottom: 0;
      border: 0;
      box-shadow: none;
      overflow-y: auto;
  
      > li > a {
        white-space: normal;
        padding-top: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;
      }
    }
  }

  .location-summary-container {
    height: 50px;
    left: 0;    
    position: fixed;
    right: 0;
    top: 50px;
    font-size: $font-size-small;
    padding: 7px 0;

    .row {
      display: flex;
      align-items: center;
    }

    .location-summary-item {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .results-map {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 140px;
  }
  
  /* Results screen: error display */
  
  .results-error-map {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    height: 200px;
  }
  
  .results-error-message {
    position: fixed;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 12px;
  }
  
  .otp-ui-locationFilter {
    top: 58px;
    bottom: 4px;
    right: 4px;
    left: 4px;  
    width: auto;

    &__header,
    &__container {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
  }
}