.otp.mobile {
    .mobile-narrative-header {
        position: fixed;
        height: 40px;
        left: 0;
        right: 0;
        background-color: $brand-primary;
        color: $text-color;
        text-align: center;
        font-size: $font-size-base;
        font-weight: 500;
        padding-top: 9px;
    }
    
    .mobile-narrative-container {
        position: fixed;
        bottom: 20px;
        right: 0;
        left: 0;
        padding: 8px 12px;

        .trip-tools {
            .btn {
                width: 100%;
                float: none;
                margin-bottom: 6px;
                border-radius: $border-radius-base;
            }
        }

        .disclaimer {
            font-size: $font-size-xsmall;
            text-align: center;
            margin-top: $font-size-base;
        }
    }
    
    .dots-container {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 20px;
        text-align: center;
    }
    
    .dots-container .dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: #ddd;
        margin: 0px 3px;
        vertical-align: 2px;
    }
    
    .dots-container .dot.active {
        background-color: #888;
    }
}