.otp.mobile {
  .search-settings {
    position: fixed;
    top: $mobile-search-settings-top;
    left: 0;
    right: 0;    
    z-index: 3;

    .form-group {
      margin-bottom: 7px;
      padding-right: 52px;
    }
    
    .switch-button-container-mobile {
      position: absolute;
      top: 38px;      
      right: 20px;
      z-index: 2;      

      .btn {
        border: 0;
        outline: 0;
        background-color: $input-bg;
        border-radius: 100%;
      }
    }

    .search-settings-options {
      margin-bottom: 7px;

      .row {
        margin-left: -4px;
        margin-right: -4px;
        
        > div[class^="col"] {
          padding-left: 4px;
          padding-right: 4px; 
        }
      }

      .btn.btn-default,
      .dropdown .dropdown-toggle {      
        width: 100%;  
        background-color: $input-bg;
        min-height: $input-height-base;
        color: $input-color;
        border-color: $input-border;
        font-weight: normal;
        box-shadow: none;      
        text-align: left;
         
        i {
          margin-right: $font-size-base;               
          color: $brand-primary-dark;
        }
  
        &:focus {
          border-color: $input-border-focus;
          box-shadow: inset 0 1px 1px lighten(#000, 92%), 0 0 8px lighten($input-border-focus, 40%);
        }
      }

      .dropdown {
        width: 100%;
      }
    }
  }
  
  .search-map {
    position: fixed;
    top: $mobile-search-settings-map-top;
    left: 0;
    right: 0;
    bottom: 0;
  }
}