.otp.mobile {
    .viewer-container {
        position: fixed;
        top: 250px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;

        .route-viewer-header,
        .stop-viewer-header,
        .trip-viewer-header {
            transform: none;
            margin: 0;
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }

        .route-viewer-body,
        .stop-viewer-body,
        .trip-viewer-body {
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }
    }
    
    .viewer-map {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        height: 200px;
    }
}
