
.otp {
  .options {
    > .header {
      margin: 20px 10px 12px;
      font-size: $font-size-base;
    }

    > .list {
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: $gray-lighter;
      }

      &::-webkit-scrollbar-thumb {
        background: $gray-light;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $gray;
      }
    }

    > .carousel-header {
      .carousel-header-text {
        display: inline-block;
        width: 75%;
      }

      .carousel-button {
        width: 12.5%;
      }
    }
  }

  .trip-tools {
    margin-top: $font-size-base * 2;
    text-align: center;

    .tool-button {
      font-size: $font-size-xsmall;
      padding-left: $padding-small-horizontal;
      padding-right: $padding-small-horizontal;
    }
  }

  .tabbed-itineraries {
    .panel {
      cursor: pointer;

      .title {
        font-weight: $headings-font-weight;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;

        small {
          text-transform: capitalize;
        }
      }

      .itinerary {
        margin-top: $font-size-base * 2;
      }

      .disclaimer {
        margin-top: $font-size-base * 2;
        font-size: $font-size-xsmall;
        text-align: center;
      }
    }
  }
}
