.otp {
  &.print-layout {
    max-width: 640px;
    margin: 30px auto;
  }

  &.print-layout {
    > .header {
      margin-bottom: 30px;
      border-bottom: 4px solid black;
      font-size: 36px;
      font-weight: 600;
    }
  }

  &.print-layout {
    > .map-container {
      border: 2px solid black;
      height: 500px;
      margin-bottom: 30px;
      box-sizing: border-box;
    }
  }
}
