.otp .user-settings {
  .remember-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      min-width: 40px;
    }
  }

  .disclaimer {
    font-size: $font-size-xsmall;
  }

  .place-list-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__cta {
      transform: translateY(-50%);
    }
  }
  
  .panel {
    box-shadow: none;
    border: 0;
    margin-bottom: $font-size-base / 2;
    
    .panel-heading {
      border: 0;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }

    .panel-body,
    .list-group-item {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
