
.credits-modal {
    .modal-body {

        text-align: center;

        img {
            max-width:100%;

        }
    }
}

.credits-title {
    text-align: center;
}

.credits-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: $font-size-base;

    li {
        flex: 1;
        flex-grow: 0;
        min-width: 150px;
        padding: $padding-small-vertical;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}